<!-- study link needs what obj -->
{{#linkTo set.study set class="btn btn-primary"}}Study!{{/linkTo}}
<button class="btn btn-primary" {{action addCard}}>Add Card</button>
<button class="btn btn-danger" {{action delete}}>Delete Set</button>


