<table class="cards table table-striped table-hover">
  <thead>
    <tr>
      <th class="front">Front</th>
      <th class="back">Back</th>
      <th class="actions"></th>
    </tr>
  </thead>

  {{view App.CardTableRowsView contentBinding=controller}}
</table>
