@import compass
@import bootstrap
$card_green: #7cfc00

//from madmadapps
$heading_bg: #dCe1eA //#eceff6
$studyEndBg: #9FF8F9
$greenBg: #7cfc00

$tech_color:  #33DDFF
$services_color: yellow
$proj_color:  #7cfc00

$width: 720px
$width2:  674px
$left_offset: 80px
$maxWidth: 700px
$horiz_padding: 24px



@mixin borderRadius($radius)
  border-radius: $radius
  -webkit-border-radius: $radius
  -moz-border-radius: $radius

@mixin box-shadow($hOffset, $vOffset, $shadow, $color)
  box-shadow: $hOffset $vOffset $shadow $color
  -webkit-box-shadow: $hOffset $vOffset $shadow $color
  -moz-box-shadow: $hOffset $vOffset $shadow $color

@mixin button($bg, $col, $focus_bg, $focus_col: inherited, $height: 22px, $radius: 0, $min_width: 0)
  display: inline-block
  min-width: $min_width
  @include borderRadius($radius)
  background: $bg
  color: $col
  font-weight: bold
  font-size: 16px
  height: $height
  text-align: center
  padding: 6px 8px
  &:hover, &:focus
    background-color: $focus_bg
    color: $focus_col

//end from madmadapps
a#new-set-btn
  background: red
  color: white

a.card-set-button
  font-family: Arial
  color: #ffffff
  text-align: center
  margin-bottom: 10px
  height: 22px
  font-size: 22px
  padding-top: 20px
  text-decoration: none
  -webkit-border-radius: 16px
  -moz-border-radius: 16px
  border-radius: 16px
  border: solid #25aac2 0px
  background: #8b4513

a.button:hover
  background: #e62097

#card-set-header
  position: relative
  background: $heading_bg
  border-radius: 12px
  padding: 6px
  width:  100%


#card-set-name
  padding:  14px 10px
  #study-btn
    background: red
    color: white
    border-radius: 6px
    font-size:  24px
    padding:  10px
    margin-right: 14px
    position: absolute
    top: 8px
    right: 8px
  #set-name
    color: purple
    font-size:  26px
    font-weight: bold
    display: inline-block
    vertical-align: center
    line-height: 100%
    height: 40px
  #delete-btn
    display: none
    border-radius: 60%
    background: black

#card-set-name:hover
  #delete-btn
    display: inline
ul
  list-style-type: none

.btn_bar
  margin: 10px 0


.inline
  display: inline

#user_info.container-fluid.offset7
  padding-right: 4px
  margin-bottom: 6px


.greeting
  text-align: right
  .hello
    font-weight: bold
    color: blue


.actions
  text-align: right !important
  &.sets
    text-align: left !important
//.trailer
//  +trailer

#study-btn-bar
  text-align: center
  border-top: 3px black solid
  border-bottom: 3px black solid
  padding:  8px 30px
  height: 34px
  margin-top: 12px
  margin-bottom: 14px
  width:  100%
  button
    font-size: 25px
    width: 140px
    height: 34px
    border: 3px black solid
    background: beige
    color: red
    font-weight: bold
    box-shadow: "10px 10px 5px #888888"
  #correctBtn
    color: #006400
#study-buttons
  width: 50%
  margin: 0 auto

#study-results
  font-size: 22px
  padding: 10px
.study-panel
  .card
    padding: 30px
    font-size: 22px
    font-weight: bold
    width: 100%
    min-height: 200px
    background: #7cfc00
    border-radius: 12px
    margin-bottom: 10px

#cardBack.is-showing-front
  background: black
  color:  black
  height: 20px
  min-height: 20px
  padding:  0 30px
  font-size: 0

#study-click-msg
  font-weight: bold
  font-size: 16px

ul#set-cards
  background: #d3d3d3
  margin:  0
  li
    float: left
    margin-top:  4px
    background: #7cfc00
    width: 100%
    padding: 4px 6px
    border-radius: 8px
    &.header
      position: relative
      font-weight: bold
      //border-top: 1px black dotted
      color: white
      background: black
      padding: 6px 4px
      border-radius: 0
    .labels
      width: 98%
      text-align: left
    .front
      width: 38%
      float: left
    .back
      width: 38%
      float: left
    .actions
      float: left
      width: 18%
      display: none

  li.card:hover, li.card:hover.is-editing
    .actions
      display: inline

.navbar.navbar-fixed-top
  margin-bottom: 4px

.sidebar-nav-fixed.well.well-small
  min-height: 100px
  padding: 9px 0
  background:  white
  border: none
  //border: 3px solid
  //border-color: #006400
  //border-radius: 14px
  //position: fixed
  //left: 20px
  //top: 60px
  //width: 250px


.row-fluid > .span-fixed-sidebar
  margin-left: 290px

#correctBtn
  margin-right: 10px

#labels
  //float: left
  width:  100%
  //height:  60px

#label-panel
  //border-top: 1px solid #DDD
  padding: 4px
  width:  100%
  position: relative

ul#card_sets
  li.no_cards
    margin: 10px



ul#set_labels, ul.card-labels
  display: inline
  li
    display: inline
    margin-right: 6px
    padding: 1px 2px
    font-weight: bold
    color: blue
  li.is-editing
    display: block

#cards-title
  position: absolute
  top:  0
  right:  0
  width: 70px
  font-size: 16px
  text-align: center
  padding: 4px 0
  height: 20px
  background:  black
  color:  white

#new-label
  display: inline
  margin-bottom: 8px
  label
    font-weight: bold
  input
    margin: 4px

#label-buttons
  display: inline
  button
    margin-left: 4px

.lblHeader
  float: left
  width:  90px

ul.card-labels
  li
    display: inline

.card-label-button
  margin-right: 2px
  border: none
  font-weight: bold
  background: inherit
  border-radius: 20%
  color: #ddcdcd
  &.is-labelled
    color: blue

button
  background: red
  color:  white
  border:  none
  border-radius: 6px
  box-shadow: none
